.container {
    background-color: aliceblue;
}
.nav-below {
    background-color: silver;
}
img {
    float: left;
    max-width: 50%;
}
.sidebar {
    float: right;
    width: 25%;
    background-color: olive;
}
.column {
    width: 100%;
    float: left;
}
.img-top {
    width: 50%;
    display: inline;
}